<section class="app__preview">
  
  
  
  <div class="app__preview--profileCard js-profileCard">
    <div class="topBlock">
      <i class="far fa-address-card js-monster-color-details"></i>
      <span class="monsterName js-monsterName-output">Bubbles</span>
      <i class="fas fa-pastafarianism js-monster-color-details"></i>
      <span class="monster-race js-race-output">Under the Bed Monster</span>
    </div>
    <div class="photo">
      <div class="head-top ">
        <i class="hat fas fa-hat-wizard js-monster-color-details js-hat-wizard"></i>
        <i class="hat fas fa-hat-cowboy js-monster-color-details js-hat-cowboy"></i>
        <i class="hat fas fa-crown hat-crown js-monster-color-details js-hat-crown"></i>
        <i class="hat fi-xnluxl-party-hat js-monster-color-details js-hat-party"></i>
        <div class="horn-left "></div>
        <div class="horn-right "></div>
      </div>
      <div class="head js-monster-color">
        <div class="eyes">
          <i class="fas fa-eye js-eye-left"></i>
          <i class="fas fa-eye js-eye-right"></i>
        </div>
        <i class="fas fa-heart fa-rotate-180 nose js-monster-color-details"></i>
        <i class="fas fa-moon mouth"></i>
      </div>
      <div class="neck js-monster-color"></div>
      
    </div>
    <div class="icon-source">
      Icon made from
      <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by
      CC BY 3.0
    </div>
    <ul class="super-powers">
      <li class="power-fly" title="Can fly">
        <i class="fas fa-plane js-monster-color-details"></i></i>
      </li>
      <li class="power-fire" title="Breathes fire">
        <i class="fas fa-fire-alt js-monster-color-details"></i>
      </li>
      <li class="power-invisible" title="Can turn invisible">
        <i class="fas fa-eye-slash js-monster-color-details"></i>
      </li>
      <li class="power-hungry" title="Always hungry">
        <i class="fas fa-pizza-slice js-monster-color-details"></i>
      </li>
    </ul>
  </div>
  <button class="btn__reset">
    <i class="fas fa-trash-alt"></i><span>reset</span>
  </button>
</section>
