<section class="app__options">
  <form action="" class="form">
    <fieldset class="app__options--design">
      <legend>Choose a design</legend>
      <i class="fas fa-chevron-down"></i>
      <h2>colors</h2>
      <ul>
        <li>
          <label for="" class="palette palette-1">
            <input type="radio" />
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
          </label>
        </li>
        <li>
          <label for="" class="palette palette-2"
            ><input type="radio" />
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div
          ></label>
        </li>
        <li>
          <label for="" class="palette palette-3"
            ><input type="radio" />
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div
          ></label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="personalize">
      <legend>Add your personal info</legend>
      <label for="" class="full-name">
        <input type="text" />
      </label>
      <label for="" class="profession"><input type="text" /></label>
      <label for="" class="img-profile"><input type="text" /></label>
      <label for="" class="email"><input type="text" /></label>
      <label for="" class="telephone"><input type="text" /></label>
      <label for="" class="linkedin"><input type="text" /></label>
      <label for="" class="github"><input type="text" /></label>
    </fieldset>
    <fieldset class="share">
      <legend>Share your contact card</legend>
      <label for=""><input type="submit" /></label>
      <p>Your card has been created</p>
      <span class="card-url"></span>
      <button class="share-twitter">share on twitter</button>
    </fieldset>
  </form>
</section>
