<main class="landing__main">
  <h1 class="logo">
    <img
      src="./assets/images/logo-awesome-profile-cards.svg"
      alt="Awesome Profile Cards logo"
    />
  </h1>
  <h2>Create your own custom virtual business card</h2>
  <p>A fast and simple way to build better professional contacts</p>
  <div class="steps">
    <div><i class="far fa-object-group"></i>choose a design</div>
    <div><i class="far fa-keyboard"></i>add your info</div>
    <div><i class="fas fa-share-alt"></i>share with contacts</div>
  </div>
  <a href="./app.html">get started</a>
</main>
