<main class="landing__main">
  <div class="wrapper">
    <h1 class="landing__main--logo">
      <img
        src="./assets/images/logo-awesome-profile-cards.svg"
        alt="Awesome Profile Cards logo"
      />
    </h1>
    <h2 class="landing__main--title">
      custom contact cards
    </h2>
    <div class="landing__main--tagline">
      <span> A fast and simple way</span>
      <span>to grow your professional network</span>
    </div>
    <div class="landing__main--steps">
      <div><i class="far fa-object-group"></i><span>design</span></div>
      <div><i class="far fa-keyboard"></i><span></span>personalize</span></div>
      <div><i class="fas fa-share-alt"></i><span></span>share</span></div>
    </div>
    <a class="button-startApp" href="./app.html"><span> get started</span></a>
  </div>
</main>
