<main class="landing__main">
  <div class="wrapper">
    <h1 class="landing__main--logo">
      <include src="./monsterText.html"></include>
    </h1>
    <h2 class="landing__main--title">
      build your own little monster!
    </h2>
    <div class="landing__main--tagline">
      <span></span>
      <span></span>
    </div>
    <div class="landing__main--steps">
      <div><i class="far fa-object-group"></i><span>design</span></div>
      <div><i class="far fa-keyboard"></i><span></span>personalize</span></div>
      <div><i class="fas fa-share-alt"></i><span></span>share</span></div>
    </div>
    <a class="button-startApp" href="./app.html"><span>let's go!</span></a>
  </div>
</main>
