// fonts
$default-font-size: 16;
$font-main: 'Open Sans', sans-serif;
$font-title: 'Merriweather', serif;
$font-card: 'Montserrat', sans-serif;

// colors
$color-pink-dark: rgb(117, 36, 93);

// Breakpoints
$breakpoint-tablet: 768px;
