// fonts
$default-font-size: 16;
$font-main: "Open Sans", sans-serif;
$font-title: "Merriweather", serif;
$font-card: "Montserrat", sans-serif;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #f5f5f5;

$color-contrast: #e17334;

$color-dark: #114e4e;
$color-medium: #438792;
$color-light: #a2deaf;
$color-light-extra: #f9f4dc;

$color-grey-fonts: #6b6b6b;
