.footer {
  height: 110px;
  width: 100%;
  border-top: 2px solid grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 18px 40px 20px;
  border-top: 2px solid grey;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyBlock {
    margin-bottom: 12px;
    color: purple;
    opacity: 0.5;
    font-size: rem(14);
    .monster-one-eye {
    }
  }
  .logoBlock img {
    height: 40px;
    width: 103px;
  }
}
