.header {
  width: 100%;
  height: 110px;
  overflow: hidden;
  background-color: rgb(236, 150, 225);

  &__logo {
    height: 100%;
    padding: 20px;
  }
  .logoMonsterText {
    height: 100%;
  }
}
